Import Packages

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

Load Data

In [2]:
basics_url="https://datasets.imdbws.com/title.basics.tsv.gz"
title_basics = pd.read_csv(basics_url, sep='\t', low_memory=False)

In [3]:
basics_url2="https://datasets.imdbws.com/title.akas.tsv.gz"
title_akas = pd.read_csv(basics_url2, sep='\t', low_memory=False)

In [39]:
# Filter the akas table down to only include the US by using the filter akas dataframe
us_movies =title_basics['tconst'].isin(title_akas['titleId'])
us_movies

34803      False
61116      False
67669      False
77964      False
86801      False
           ...
9608227    False
9608236    False
9608275    False
9608320    False
9608404    False
Name: tconst, Length: 166984, dtype: bool

# Title Akas

Explore Dataset

In [5]:
title_akas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34908257 entries, 0 to 34908256
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   titleId          object
 1   ordering         int64
 2   title            object
 3   region           object
 4   language         object
 5   types            object
 6   attributes       object
 7   isOriginalTitle  object
dtypes: int64(1), object(7)
memory usage: 2.1+ GB

In [6]:
title_akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0

In [7]:
title_akas.replace({'\\N':np.nan}, inplace=True)
title_akas

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,NaN,imdbDisplay,NaN,0
1,tt0000001,2,Carmencita,DE,NaN,NaN,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,NaN,imdbDisplay,NaN,0
3,tt0000001,4,Καρμενσίτα,GR,NaN,imdbDisplay,NaN,0
4,tt0000001,5,Карменсита,RU,NaN,imdbDisplay,NaN,0
...,...,...,...,...,...,...,...,...
34908252,tt9916852,5,Episódio #3.20,PT,pt,NaN,NaN,0
34908253,tt9916852,6,Episodio #3.20,IT,it,NaN,NaN,0
34908254,tt9916852,7,एपिसोड #3.20,IN,hi,NaN,NaN,0
34908255,tt9916856,1,The Wind,DE,NaN,imdbDisplay,NaN,0
34908256,tt9916856,2,The Wind,NaN,NaN,original,NaN,1

Eliminate Missing Values

In [8]:
title_akas.isna().sum()

titleId                   0
ordering                  0
title                     5
region              1880307
language            6500924
types              29438903
attributes         34653799
isOriginalTitle        2109
dtype: int64

In [9]:
title_akas.dropna(subset=['region'], inplace=True)
title_akas.dropna(subset=['language'], inplace=True)
title_akas.dropna(subset=['types'], inplace=True)
title_akas.dropna(subset=['attributes'], inplace=True)
title_akas.dropna(subset=['isOriginalTitle'], inplace=True)
title_akas.dropna(subset=['title'], inplace=True)
title_akas.isna().sum()

titleId            0
ordering           0
title              0
region             0
language           0
types              0
attributes         0
isOriginalTitle    0
dtype: int64

Keep only US movies

In [10]:
us_movies =title_basics['tconst'].isin(title_akas['titleId'])
us_movies

0          False
1          False
2          False
3          False
4          False
           ...
9608549    False
9608550    False
9608551    False
9608552    False
9608553    False
Name: tconst, Length: 9608554, dtype: bool

In [11]:
title_akas

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
102215,tt0022542,1,Di shtime fun Yisroel,US,yi,alternative,YIVO translation,0
114360,tt0024265,4,Geleb un gelakht,US,yi,alternative,modern translation,0
117786,tt0024751,9,Avram Ovenu,US,yi,alternative,YIVO translation,0
126564,tt0026010,3,Der yidishe Kenigen Lir,US,yi,alternative,YIVO translation,0
140283,tt0027911,1,Libe un Laydnshaft,US,yi,alternative,modern translation,0
...,...,...,...,...,...,...,...,...
33221945,tt9015974,1,aşk Üzerine Kısa Bir Film,TR,tr,imdbDisplay,poster title,0
33627846,tt9248018,3,ODTÜ Tarihi: Bozkırı Yeşertenler ve Zor Yıllar...,TR,tr,imdbDisplay,poster title,0
33776262,tt9322538,1,Aşka Zaman,TR,tr,imdbDisplay,original script title,0
33937151,tt9406716,1,45. Pantene Altın Kelebek Ödül Töreni,TR,tr,imdbDisplay,new title,0
34428928,tt9667744,4,Masal çiçeği,TR,tr,imdbDisplay,pre-release title,0

In [12]:
title_akas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 447 entries, 102215 to 34428928
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   titleId          447 non-null    object
 1   ordering         447 non-null    int64
 2   title            447 non-null    object
 3   region           447 non-null    object
 4   language         447 non-null    object
 5   types            447 non-null    object
 6   attributes       447 non-null    object
 7   isOriginalTitle  447 non-null    object
dtypes: int64(1), object(7)
memory usage: 31.4+ KB

In [13]:
## Save current dataframe to file.
title_akas.to_csv("title_akas.csv.gz",compression='gzip',index=False)

In [14]:
title_akas = pd.read_csv("title_akas.csv.gz", low_memory = False)
title_akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0022542,1,Di shtime fun Yisroel,US,yi,alternative,YIVO translation,0
1,tt0024265,4,Geleb un gelakht,US,yi,alternative,modern translation,0
2,tt0024751,9,Avram Ovenu,US,yi,alternative,YIVO translation,0
3,tt0026010,3,Der yidishe Kenigen Lir,US,yi,alternative,YIVO translation,0
4,tt0027911,1,Libe un Laydnshaft,US,yi,alternative,modern translation,0

# Title Basics

In [15]:
title_basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [16]:
title_basics.duplicated().sum()

0

In [17]:
title_basics.isna().sum()

tconst             0
titleType          0
primaryTitle      11
originalTitle     11
isAdult            0
startYear          0
endYear            0
runtimeMinutes     0
genres            10
dtype: int64

In [18]:
title_basics.dropna(subset=['primaryTitle', 'originalTitle', 'genres'], inplace=True)
title_basics.isna().sum()

tconst            0
titleType         0
primaryTitle      0
originalTitle     0
isAdult           0
startYear         0
endYear           0
runtimeMinutes    0
genres            0
dtype: int64

Replace "\N" with np.nan

In [19]:
title_basics.replace({'\\N':np.nan},inplace=True)

In [20]:
title_basics.isna().sum()

tconst                  0
titleType               0
primaryTitle            0
originalTitle           0
isAdult                 0
startYear         1297184
endYear           9506079
runtimeMinutes    6801207
genres             434288
dtype: int64

In [21]:
title_basics = title_basics.drop(columns=['endYear'])
title_basics.isna().sum()

tconst                  0
titleType               0
primaryTitle            0
originalTitle           0
isAdult                 0
startYear         1297184
runtimeMinutes    6801207
genres             434288
dtype: int64

In [22]:
title_basics.dropna(subset=['runtimeMinutes'], inplace=True)
title_basics.isna().sum()

tconst                 0
titleType              0
primaryTitle           0
originalTitle          0
isAdult                0
startYear         159879
runtimeMinutes         0
genres             75530
dtype: int64

In [23]:
title_basics.dropna(subset=['genres'], inplace=True)
title_basics.isna().sum()

tconst                 0
titleType              0
primaryTitle           0
originalTitle          0
isAdult                0
startYear         154954
runtimeMinutes         0
genres                 0
dtype: int64

### Eliminate movies that include "Documentary" in genre

In [25]:
#Eliminate movies that include "Documentary" in genre
is_documentary = title_basics['genres'].str.contains('documentary',case=False)
title_basics= title_basics[~is_documentary]
title_basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,1,"Comedy,Short"
5,tt0000006,short,Chinese Opium Den,Chinese Opium Den,0,1894,1,Short
...,...,...,...,...,...,...,...,...
9608477,tt9916692,tvMovie,Teatroteka: Czlowiek bez twarzy,Teatroteka: Czlowiek bez twarzy,0,2015,66,Drama
9608510,tt9916766,tvEpisode,Episode #10.15,Episode #10.15,0,2019,43,"Family,Game-Show,Reality-TV"
9608545,tt9916840,tvEpisode,Horrid Henry's Comic Caper,Horrid Henry's Comic Caper,0,2014,11,"Adventure,Animation,Comedy"
9608552,tt9916856,short,The Wind,The Wind,0,2015,27,Short
9608553,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,10,"Adventure,Animation,Comedy"

### keep only titleType==Movie

In [26]:
#Eliminate movies that include "short" in genre
is_short = title_basics['titleType'].str.contains('short',case=False)
title_basics= title_basics[~is_short]

#Eliminate movies that include "tvEpisode	" in genre
is_tvEpisode = title_basics['titleType'].str.contains('tvEpisode',case=False)
title_basics= title_basics[~is_tvEpisode]

#Eliminate movies that include "tvSeries" in genre
is_tvSeries = title_basics['titleType'].str.contains('tvSeries',case=False)
title_basics= title_basics[~is_tvSeries]

#Eliminate movies that include "tvMovie" in genre
is_tvMovie = title_basics['titleType'].str.contains('tvMovie',case=False)
title_basics= title_basics[~is_tvMovie]

#Eliminate movies that include "video" in genre
is_video = title_basics['titleType'].str.contains('video',case=False)
title_basics= title_basics[~is_video]

In [27]:
title_basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,45,Romance
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,70,"Action,Adventure,Biography"
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,90,Drama
672,tt0000679,movie,The Fairylogue and Radio-Plays,The Fairylogue and Radio-Plays,0,1908,120,"Adventure,Fantasy"
930,tt0000941,movie,Locura de amor,Locura de amor,0,1909,45,Drama
...,...,...,...,...,...,...,...,...
9608227,tt9916170,movie,The Rehearsal,O Ensaio,0,2019,51,Drama
9608236,tt9916190,movie,Safeguard,Safeguard,0,2020,95,"Action,Adventure,Thriller"
9608275,tt9916270,movie,Il talento del calabrone,Il talento del calabrone,0,2020,84,Thriller
9608320,tt9916362,movie,Coven,Akelarre,0,2020,92,"Drama,History"
9608404,tt9916538,movie,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,0,2019,123,Drama

### keep startYear 2000-2022

In [28]:
title_basics['startYear'] = title_basics['startYear'].astype(float)
title_basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 313088 entries, 8 to 9608404
Data columns (total 8 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          313088 non-null  object
 1   titleType       313088 non-null  object
 2   primaryTitle    313088 non-null  object
 3   originalTitle   313088 non-null  object
 4   isAdult         313088 non-null  object
 5   startYear       308289 non-null  float64
 6   runtimeMinutes  313088 non-null  object
 7   genres          313088 non-null  object
dtypes: float64(1), object(7)
memory usage: 21.5+ MB

In [29]:
keepers =title_basics['startYear'] >= 2000
keepers

8          False
570        False
587        False
672        False
930        False
           ...
9608227     True
9608236     True
9608275     True
9608320     True
9608404     True
Name: startYear, Length: 313088, dtype: bool

In [30]:
title_basics = title_basics[keepers]
title_basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres
34803,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,118,"Comedy,Fantasy,Romance"
61116,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,70,Drama
67669,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,122,Drama
77964,tt0079644,movie,November 1828,November 1828,0,2001.0,140,"Drama,War"
86801,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,100,"Comedy,Horror,Sci-Fi"
...,...,...,...,...,...,...,...,...
9608227,tt9916170,movie,The Rehearsal,O Ensaio,0,2019.0,51,Drama
9608236,tt9916190,movie,Safeguard,Safeguard,0,2020.0,95,"Action,Adventure,Thriller"
9608275,tt9916270,movie,Il talento del calabrone,Il talento del calabrone,0,2020.0,84,Thriller
9608320,tt9916362,movie,Coven,Akelarre,0,2020.0,92,"Drama,History"
9608404,tt9916538,movie,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,0,2019.0,123,Drama

In [32]:
## Save current dataframe to file.
title_basics.to_csv("title_basics.csv.gz",compression='gzip',index=False)

# Title Ratings

In [33]:
basics_url3="https://datasets.imdbws.com/title.ratings.tsv.gz"
title_ratings = pd.read_csv(basics_url3, sep='\t', low_memory=False)

In [34]:
title_ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1950
1  tt0000002            5.8       264
2  tt0000003            6.5      1782
3  tt0000004            5.6       179
4  tt0000005            6.2      2583

title_ratings.info()

Replace "\N" with np.nan

In [36]:
title_ratings.replace({'\\N':np.nan}, inplace=True)
title_ratings

            tconst  averageRating  numVotes
0        tt0000001            5.7      1950
1        tt0000002            5.8       264
2        tt0000003            6.5      1782
3        tt0000004            5.6       179
4        tt0000005            6.2      2583
...            ...            ...       ...
1278824  tt9916730            8.1         9
1278825  tt9916766            7.0        21
1278826  tt9916778            7.2        36
1278827  tt9916840            8.8         6
1278828  tt9916880            8.2         6

[1278829 rows x 3 columns]

In [37]:
title_ratings.isna().sum()

tconst           0
averageRating    0
numVotes         0
dtype: int64

In [38]:
us_movies

0          False
1          False
2          False
3          False
4          False
           ...
9608549    False
9608550    False
9608551    False
9608552    False
9608553    False
Name: tconst, Length: 9608554, dtype: bool

In [40]:
title_ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1950
1  tt0000002            5.8       264
2  tt0000003            6.5      1782
3  tt0000004            5.6       179
4  tt0000005            6.2      2583

In [41]:
## Save current dataframe to file.
title_ratings.to_csv("title_ratings.csv.gz",compression='gzip',index=False)

In [42]:
title_ratings = pd.read_csv("title_ratings.csv.gz", low_memory = False)
title_ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1950
1  tt0000002            5.8       264
2  tt0000003            6.5      1782
3  tt0000004            5.6       179
4  tt0000005            6.2      2583